<!doctype html>



<html>
<head>
	<link rel=stylesheet type=text/css href="/static/css/about.css">
	<script src="static/js/scripts.js"></script>
</head>
<body>












	{% extends "templates/layout.html" %}

	{% block body %}
	<div class="content-container">
		<div class="about-portrait-container">
			<div class="about-portrait">

			</div>
			<div class="about-portrait">

			</div>
		</div>
		<div class="about-description">
			<h1>
				Sam Finn
			</h1>
			<p>
				Sam Finn taught elementary school for seven years in Washington, D.C., Oakland, and Berkeley. As a school technology lead, he wrote grants, piloted educational software programs, coordinated site technology use, and authored district technology standards. He has also served as a union representative and a dyslexia intervention tutor. Sam holds a dual masters in general and special education and is currently a masters of public policy student at UC Berkeley. He is developing Fread in the spring as his masters' thesis.
			</p>
		</div>
		<div class="about-description">
			<h1>
				Daniel Heinrich
			</h1>
			<p>
				Daniel Heinrich is a technical writer at Salesforce. He helps a worldwide audience learn complicated topics with documentation, video, and interactive apps like Trailhead.
			</p>
		</div>
	</div>
	<!--<img src="../static/images/buttons/documentation_2.jpg"/>-->
	</div>




	{% endblock %}



</body>



</html>
