<!doctype html>



<html>
<head>
	<script src="static/js/scripts.js"></script>
</head>
<body>












	{% extends "templates/layout.html" %}

	{% block body %}
	<!--
--><div class="content-container"><!--style="background-image: url('../static/images/buttons/documentation_2.jpg')"-->
<div class="description-container">
	<div class="description">
		<h1>
			Fread
		</h2>
		<h2>
			Learn to Read
		</h2>
		<p>
			California has a reading problem.
		</P>
		<p>
			In 2018, less than half of third graders scored proficient on state assessments, leaving 230,429 students below grade level. Research finds that third grade reading outcomes are highly predictive of future academic performance, and indeed state reading proficiency rates for grades 4 through 11 are similarly low. Struggling readers have lower high school graduation rates, earn less as adults, and are more likely to depend on public assistance in the future.
		</p>
		<p>
			<b>By supporting early reading success, we can improve the life outcomes of individuals, the stability of communities, and the economy of our state.</b>
		</p>

	</div>
</div>
	<!--<img src="../static/images/buttons/documentation_2.jpg"/>-->
	</div>




	{% endblock %}



</body>



</html>
